# Node.js / React
node_modules/
build/
dist/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
*.sqlite3

# Java / Spring Boot
target/
*.class
*.jar
*.war
*.ear
*.iml
*.log
.gradle/
.build/
.idea/
*.project
*.classpath
*.settings/

# OS Files
.DS_Store
Thumbs.db
